body {
    font-family: 'Muli', sans-serif;
}

#iconz {
    color: #770909;
}

#aboutmecontainer {
    background-image: url(Tulum.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#aboutmecontent {
    background-color: rgba(0, 0, 0, 0.48);
}

#resumebackground {
    background-color: #292828;
    
}
